h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(46, 63, 104);
}

#flex-con-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    text-align: center;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
}

#uiContainer {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    /* border: 2px solid rgb(151, 60, 60); */
}

#flex-con-container div {
    flex: 1;
}

#flex-con-container #flex-container {
    flex: 5 1 0%;
}

#flex-container div {
    width: 0;
    aspect-ratio: 1/1;
    flex: 1 0 auto;
}